*{
    margin: 0;
    padding: 0;
    font-family: 'Gluten', cursive;
    font-family: 'Roboto Mono', monospace;
}

.main {
    display: flex;
    height: 100vh;
    width: 100vw;

}

.left_nav{
width: 20%;
background-color: red;
text-transform: uppercase;
}

.logo{
    text-align: center;
}

.nav_menu a {
 text-decoration: none;
 color: black;
}