* {
    margin: 0;
    padding: 0;
    font-family: 'Gluten', cursive;
    font-family: 'Roboto Mono', monospace;
}

.main {
    display: flex;
    height: 100vh;
    width: 100vw;

}

.left_nav {
    padding-top: 40px;
    width: 20%;
    background-color: #F6F6F6;
    text-transform: uppercase;
    border-right: 2px solid black;
}

.logo {
    text-align: center;
}

.nav_menu {
    margin-top: 20vh;
    text-align: center;
}

.nav_menu a {
    padding: 15px 0;
    font-weight: 500;
    font-size: 1.2rem;
    display: block;
    text-decoration: none;
    color: black;
    transition: all ease 0.2s;
}

.nav_menu a:hover {
    background-color: orange;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.nav_menu a:nth-child(2) {
    margin-top: 30px;
}

.content {
    padding: 40px 20px 0 20px;
    width: 100%;
}

.first_flex {
    display: flex;
    justify-content: space-between;
}

.first_flex button {
    border-radius: 10px;
    font-size: 20px;
    padding: 5px 4px;
    background-color: #ABE5BC;
    transition: all ease 0.4s;
}

.first_flex button:hover {
    background-color: #71da90;
}

#profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#profile p {
    text-transform: capitalize;
}

.second_flex {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.second_flex form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    border: 1px solid black;
    overflow: hidden;
    background-color: #FFFAF0;
}

.second_flex form input {
    width: 15vw;
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: #FFFAF0;
}

.second_flex form button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px 15px;
    border: none;
    border-left: 1px solid black;
    background-color: #FBA799;

}



.grid_style,
#table_grid,
.table_cover {
    display: flex;

}

.grid_style {
    gap: 25px;
}

#table_grid,
.table_cover {
    gap: 5px;
    align-items: center;
    padding: 0 10px;
    transition: all ease 0.2s;
    border-radius: 10px;
}

/* #table_grid:hover , .table_cover:hover{
    background-color: orange;
    border: 1px solid black;
} */

#table_grid:active,
.table_cover:hover {
    background-color: #FCC980;
    border: 1px solid black;
}

#table_grid img,
.table_cover img {

    height: 24px;
}



.table_content {
    margin-top: 30px;
}

table {

    border-collapse: collapse;
}

th {
    text-transform: capitalize;
    text-align: left;
    padding-bottom: 10px;
}

#tr_border {
    border-top: none;
    border-bottom: 2px solid black;
}

tr {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#th1 {
    width: 15%;
}

#th2 {
    width: 15%;
}

#th3 {
    width: 15%;
}

#th4 {
    width: 15%;
}

#th5 {
    width: 15%;
}

#th6 {
    width: 15%;
}

#th7 {
    width: 10%;
}

td {
    padding: 10px 0;
}



#rating {
    width: 30%;
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 3px;
    background-color: #FCC980;
    border: 1px solid black;
    border-radius: 10px;

}



#buttons button {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
    padding: 5px 10px;
    width: 80%;
    border-radius: 10px;
}

#buttons button:nth-child(1) {
    background-color: #FBA799;
}
#buttons button:nth-child(2) {
    margin-top: 5px;
    background-color: #CFADE8;
}